@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header {
    padding-top: 20px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.header__text {
    font-size: 70px;
}
