.button {
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;

    padding-left: 15px;
    padding-right: 15px;

    border-style: none;

    font-size: 23px;
    font-family: cursive;

    color: white;
}

.button:hover {
    opacity: 0.7;
}

.button:focus {
    outline: none;
    transform: scale(1.1);
}

.button--primary {
    background-color: rgb(133, 238, 245);
}

.button--danger {
    background-color: rgb(223, 54, 54);
}

.button--warning {
    background-color: rgb(223, 144, 54);
}

.button--secondary {
    background-color: gray;
}
