@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

.todoItem {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    display: flex;
}

.todoItem--title__done {
    text-decoration: line-through;
    font-family: 'Big Shoulders Display', cursive;
}

.todoItem--title {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Big Shoulders Display', cursive;
}

.todoItem--body {
}

input[type='checkbox'] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type='checkbox']:before {
    /* position: absolute; */
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type='checkbox']:checked {
    color: white;
    border-color: green;
    background: green;
}

.todoItem--checkbox {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
